
source/ui/ios/ClientApplication/ClientApplication/.DS_Store

source/ui/ios/ClientApplication/ClientApplication/Classes/.DS_Store

source/ui/ios/ClientApplication/.DS_Store

*.xcuserstate

*.xcuserstate

*.dat

*.DS_STORE

*.classpath

*.project

*.prefs

source/backend/core/domain-factories/target/

source/backend/core/persistence/repositories/jpa/target/

source/backend/rest-webservices/target/

source/ui/java/admintool/web/target/

cm/hae-db-management/core/derby/target

cm/hae-db-management/test-data/derby/target

source/backend/core/domain-mapping/target/

source/backend/core/services/target/

source/ui/ios/ClientApplication/ClientApplication.xcodeproj/project.xcworkspace/xcuserdata/chrispurtell.xcuserdatad/UserInterfaceState.xcuserstate

source/ui/ios/ClientApplication/ClientApplication.xcodeproj/project.xcworkspace/xcuserdata/chrispurtell.xcuserdatad/UserInterfaceState.xcuserstate

*.lck

*.lck

*.lck

cm/hae-db-management/bin/HAE/db.lck

cm/hae-db-management/bin/HAE/log/log.ctrl

cm/hae-db-management/bin/HAE/log/logmirror.ctrl

cm/hae-db-management/bin/HAE/service.properties

cm/hae-db-management/bin/derby.log

source/ui/ios/.DS_Store

source/ui/ios/ClientApplication/ClientApplication.xcodeproj/project.xcworkspace/xcuserdata/u1c227.xcuserdatad/WorkspaceSettings.xcsettings

source/ui/ios/ClientApplication/ClientApplication.xcodeproj/xcuserdata/u1c227.xcuserdatad/xcschemes/ClientApplication.xcscheme

source/ui/ios/ClientApplication/ClientApplication.xcodeproj/xcuserdata/u1c227.xcuserdatad/xcschemes/xcschememanagement.plist

source/backend/rest-webservices/src/.DS_Store

source/backend/rest-webservices/src/main/.DS_Store

source/backend/.DS_Store

source/.DS_Store

cm/hae-db-management/bin/hae/service.properties

cm/hae-db-management/bin/hae/log/log.ctrl

cm/hae-db-management/bin/hae/log/logmirror.ctrl

.DS_Store

cm/hae-db-management/bin/HAE/dbex.lck
/source/backend/target/
/source/backend/core/spring-security/.settings/
/source/backend/core/spring-security/target/
/source/backend/core/persistence/repositories/jpa-repositories/target/
/source/backend/core/persistence/jpa-entities/target/
/source/backend/core/persistence/jpa-entities/.settings/
*.log

*.out

apache-tomcat-7.0.39/logs/localhost_access_log.2013-05-08.txt
apache-tomcat-7.0.39/logs/*.txt

apache-tomcat-7.0.39/webapps/*
