<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClientApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StaticResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A22BD8B16AC01FC00EC87BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A22BDB516AC01FD00EC87BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AC2F50318D99DD30078985F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AC2F51018D99DD30078985F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
